.profile {
  text-align: center;
  background-color: grey;
  padding: 2%;
}
.skill{
  text-align: center;
}
.asd{
  color: red;
}
.img{
  width: 200px;
  border-radius: 50%;
}
section {
  display: flex;
  margin: 100px;
  justify-content: center;
  margin: 10px;
  padding: 0 5% 5%;
}
.isiprof{
margin: 5% ;
}
